
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Edu.Uninpahu.Arquitectura.Datos.Properties.Settings.FacturacionConnectionString"
            connectionString="Data Source=JHONALEX\SQLEXPRESS;Initial Catalog=Facturacion;Persist Security Info=True;User ID=jhon;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>